/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Dark cyan: hsl(158, 36%, 37%)
- Cream: hsl(30, 38%, 92%)

### Neutral

- Very dark blue: hsl(212, 21%, 14%)
- Dark grayish blue: hsl(228, 12%, 48%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (paragraph): 14px

### Font

- Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
- Weights: 500, 700
font-family: 'Montserrat', sans-serif;

- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700
font-family: 'Fraunces', serif;
*/
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");
:root {
  /* Primary */
  --theme: hsl(158, 36%, 37%);
  --theme-hover: hsl(158, 36%, 25%);
  --bd-color: hsl(30, 38%, 92%);
  /* Neutral */
  --title-color: hsl(212, 21%, 14%);
  --parag-color: hsl(228, 12%, 48%);
  --info-bg-color: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--bd-color);
}

main .img__container {
  width: 400px;
  height: 550px;
  background: url(../images/image-product-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px 0 0 25px;
  overflow: hidden;
}

main .info__container {
  width: 400px;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: top;
      -ms-flex-pack: top;
          justify-content: top;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  border-radius: 0 25px 25px 0;
  background-color: var(--info-bg-color);
}

main .info__container h2 {
  color: var(--parag-color);
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: justify;
  margin: 2rem 4rem;
  font-size: 15px;
}

main .info__container h1 {
  color: var(--title-color);
  text-transform: capitalize;
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-size: 2.3rem;
  margin: 0 4rem 2rem 4rem;
}

main .info__container p {
  color: var(--parag-color);
  margin: 0 4rem 2rem 4rem;
  font-family: 'Montserrat', sans-serif;
}

main .info__container .prices__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 2rem 0;
}

main .info__container .prices__container #lower__price {
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-size: 2.3rem;
  margin: 0 0 0 4rem;
  color: var(--theme);
}

main .info__container .prices__container #high__price {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin: 0 7rem 0 0;
  text-decoration: line-through;
}

main .info__container a {
  background-color: var(--theme);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin: 0 4rem;
  width: 272px;
  height: 3rem;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--info-bg-color);
}

main .info__container a:hover {
  background-color: var(--theme-hover);
}

main .info__container i {
  margin: 10px;
}

@media screen and (max-width: 799px) {
  main {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .img__container {
    width: 350px;
    height: 275px;
    background: url(../images/image-product-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px 25px 0 0;
    overflow: hidden;
  }
  main .info__container {
    width: 350px;
    height: 385px;
    border-radius: 0 0 25px 25px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .info__container h2 {
    font-size: .9rem;
    margin: 1rem 2rem;
    font-size: 15px;
  }
  main .info__container h1 {
    font-size: 2rem;
    margin: 0 2rem 1rem 2rem;
  }
  main .info__container p {
    font-size: .9rem;
    margin: 0 2rem 1rem 2rem;
  }
  main .info__container .prices__container {
    margin: 0 0 1rem 0;
  }
  main .info__container .prices__container #lower__price {
    font-size: 2rem;
    margin: 0 0 0 2rem;
    color: var(--theme);
  }
  main .info__container a {
    margin: 0 2rem;
    width: 286px;
    height: 3rem;
  }
}
/*# sourceMappingURL=style.css.map */